body, html {
  background-color:#efefef;
}

.sm-sidebar {
  position:fixed;
  z-index:995;

  width:300px;
  height:100%;

  padding:30px;
  box-sizing:border-box;

  background-color:#3C5C7F;
  border-right:1px solid darken(#3C5C7F, 10%);

  .sm-title {
    margin-bottom:25px;
  }

  h1 {
    color:#79B9FF;
    line-height:32px;

    img {
      margin-right:5px;
    }
  }

  .sm-btn {
    box-sizing:border-box;
    text-align:center;
    color:#333;
  }

  .sm-page-list {
    color:white;
    margin-top:20px;

    li {
      margin-top:5px;
    }

    a {
      color:white;
      font-size:1em;
      display:block;
      padding:7px 10px 7px 10px;

      background:lighten(#3C5C7F, 5%);
      transition:background-color 0.2s ease-out, padding 0.2s ease-out;

      &.selected {
        background:lighten(#3C5C7F, 12%);
      }

      &:hover {
        background-color:#79B9FF;
        text-decoration: none;
        padding-left:10px;
      }
    }
  }
}

.sm-email-view-container {
  width:550px;
  height:100%;
  padding-top:80px;
  position:absolute;
  right:0px;
  top:0px;
  box-sizing:border-box;
  overflow-x:hidden;
  padding-left:550px;

  transition:padding 0.2s ease-out, width 0.2s ease-out;

  &.sm-extended {
    padding-top:10px;
    width:1100px;
  }
}

.sm-email-view {
  width:100%;
  height:100%;

  background:white;
  border:1px solid #bbb;
  box-sizing:border-box;

  .sm-email-header {
    pointer-events:none;
    background-color:#3C5C7F;
    overflow:auto;

    .sm-email-details {
      width:50%;
      display:block;
      float:left;
      padding:10px;
      box-sizing:border-box;

      h2 {
        color:white;
        font-weight:500;
        margin-bottom:3px;
        font-size:1em;
      }

      span {
        display:block;
        margin-top:3px;
        font-size:0.8em;
        color:#DDD;
      }
    }

    .sm-email-controls {
      pointer-events:auto;
      width:50%;
      display:block;
      float:left;
      padding-top:10px;
      padding-right:20px;
      text-align:right;
      box-sizing:border-box;

      a {
        display:inline-block;
        padding:10px;
        box-sizing:border-box;
      }
    }
  }

  .sm-email-content {

    #email-view-content-html {
      width:100%;
      height:100%;
      overflow:hidden;

      @import "compass/reset";
    }

    #email-view-content-text {
      width:100%;
      padding:10px;
      overflow-y:scroll;
      box-sizing:border-box;
    }
  }
}

.sm-content-loader {
  text-align:center;
  padding-top:200px;

  p {
    font-weight:500;
    margin-bottom:30px;
    font-size:1.1em;
  }
}

.sm-content-container {
  box-sizing:border-box;
  padding-left:300px;
  width:100%;
  overflow-x:hidden;

  .sm-topbar {
    width:100%;
    height:70px;
    background-color:#3C5C7F;
    z-index:998;

    .sm-search-input-container {
      margin-left:9px;
      padding-top:17px;
    }

    .sm-search-input {
      display:block;
      padding:7px;
      font-size:0.9em;

      margin-left:15px;
      width:500px;
      border-radius:3px;
      border:1px solid darken(#3C5C7F, 10%);
    }
  }

  .sm-list-overlay {
    display:none;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:rgba(5, 5, 5, 0.9);
  }

  .sm-email-list {
    position:absolute;
    z-index:-1;
    height:100%;
    top:0;
    padding-top:80px;
    box-sizing:border-box;
    overflow-y: scroll;

    width:800px;

    .sm-emails {
      border-top:1px solid #bbb;

      h3 {
        text-align:center;
        margin-top:20px;
      }
    }

    .sm-loadmore {
      margin-top:20px;
      margin-bottom:20px;

      a {
        color:#444;
      }
    }

    .sm-pagination {
      padding-top:10px;
      padding-bottom:20px;
      padding-left:10px;

      .sm-btn {
        background-color:lighten(#2374CC, 35%);
        color:#444;
      }
    }

    .sm-email {
      display:block;
      border-bottom:1px solid #bbb;
      border-right:1px solid #bbb;

      padding:20px;

      transition:background 0.2s ease-out;


      .sm-left {
        display:inline-block;
        vertical-align:middle;
        width:610px;
      }

      &.sm-unread {
        background-color:#fff;

        .sm-subject {
          font-weight:500;
        }


      }

      &:hover {
        text-decoration:none;
        background-color:#79B9FF;
      }

      &.active {
        background-color:#79B9FF;
      }

      color:#555;

      .sm-from {
        display:block;
        font-size:0.7em;
        line-height:1em;
        width:100%;
        padding-top:3px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }

      .sm-subject {
        display:block;
        font-size:1em;
        width:100%;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:elipsis;
      }

      .sm-date {
        text-align:right;
        display:inline-block;
        width:140px;
        font-size:0.8em;
      }
    }
  }

}


.sm-password-prompt-container {
  display:none;

  .sm-password-prompt {
    width:400px;
    margin-left:auto;
    margin-right:auto;
    margin-top:250px;
    background:#3C5C7F;
    border-radius:3px;

    .sm-prompt-header {
      background-color:#efefef;
      padding:10px;
      text-align:center;

      h2 {
        color:#3C5C7F;
        font-weight:500;
        font-size:1.2em;
      }
    }

    input {
      margin-left:auto;
      margin-right:auto;
      margin-top:20px;
      margin-bottom:20px;
      padding:7px 10px 7px 10px;
      width:70%;
      display:block;
    }

    button {
      display:block;
      width:100%;
      border:0;
      background-color:#79B9FF;
      color:#efefef;
      padding:10px 0px 10px 0px;

      &:hover {
        background-color:#79B9FF;
        cursor:pointer;
      }
    }
  }
}

.sm-send-container {
  position:fixed;
  z-index:996;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(10, 10, 10, 0.97);

  &.closed {
    opacity:0;
  }

  transition: opacity 0.2s ease-out;

  .sm-send {
    pointer-events: auto;
    z-index:999;
    width:700px;
    height:550px;
    background-color:#efefef;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    border-top:20px solid #3C5C7F;

    input {
      display:block;
      width:100%;
      box-sizing:border-box;
      padding:8px;
      border:0;
      font-size:0.8em;
      margin-top:3px;
    }

    textarea {
      width:100%;
      box-sizing:border-box;
      border:0;
      padding:8px;
      resize: none;
      margin-top:10px;
      height:400px;
    }

    button {
      margin-left:15px;
      margin-top:15px;
    }

  }
}
