body, html {
  background-color:#efefef;
}

.sidebar {
  position:fixed;
  z-index:999;

  width:300px;
  height:100%;

  padding:30px;
  box-sizing:border-box;

  background-color:#3C5C7F;
  border-right:1px solid darken(#3C5C7F, 10%);

  h1 {
    color:#79B9FF;
    line-height:32px;

    img {
      margin-right:5px;
    }
  }
}

.email-view-container {
  width:550px;
  height:100%;
  padding-top:80px;
  position:absolute;
  right:0px;
  top:0px;
  box-sizing:border-box;
  overflow-x:hidden;
  padding-left:550px;

  transition:padding 0.2s ease-out, width 0.2s ease-out;

  &.extended {
    padding-top:10px;
    width:1100px;
  }
}

.email-view {
  width:100%;
  height:100%;

  background:white;
  border:1px solid #bbb;
  box-sizing:border-box;

  .email-header {
    pointer-events:none;
    background-color:#3C5C7F;
    overflow:auto;

    .email-details {
      width:50%;
      display:block;
      float:left;
      padding:10px;
      box-sizing:border-box;

      h2 {
        color:white;
        font-weight:500;
        margin-bottom:3px;
        font-size:1em;
      }

      span {
        display:block;
        margin-top:3px;
        font-size:0.8em;
        color:#DDD;
      }
    }

    .email-controls {
      pointer-events:auto;
      width:50%;
      display:block;
      float:left;
      padding-top:10px;
      padding-right:20px;
      text-align:right;
      box-sizing:border-box;

      a {
        display:inline-block;
        padding:10px;
        box-sizing:border-box;
      }
    }
  }

  .email-content {

    #email-view-content-html {
      width:100%;
      height:100%;
      overflow:hidden;
    }

    #email-view-content-text {
      width:100%;
      padding:10px;
      overflow-y:scroll;
      box-sizing:border-box;
    }
  }
}

.content-loader {
  text-align:center;
  padding-top:200px;

  p {
    font-weight:500;
    margin-bottom:30px;
    font-size:1.1em;
  }
}

.content-container {
  box-sizing:border-box;
  padding-left:300px;
  width:100%;
  overflow-x:hidden;

  .topbar {
    width:100%;
    height:70px;
    background-color:#3C5C7F;
    z-index:998;

    .search-input-container {
      margin-left:9px;
      padding-top:17px;
    }

    .search-input {
      display:block;
      padding:7px;
      font-size:0.9em;

      margin-left:15px;
      width:500px;
      border-radius:3px;
      border:1px solid darken(#3C5C7F, 10%);
    }
  }

  .list-overlay {
    display:none;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:rgba(5, 5, 5, 0.9);
  }

  .email-list {
    position:absolute;
    z-index:-1;
    height:100%;
    top:0;
    padding-top:80px;
    box-sizing:border-box;
    overflow-y: scroll;

    width:800px;

    .emails {
      border-top:1px solid #bbb;

      h3 {
        text-align:center;
        margin-top:20px;
      }
    }

    .email {
      display:block;
      border-bottom:1px solid #bbb;
      border-right:1px solid #bbb;

      padding:20px;

      transition:background 0.2s ease-out;


      &.unread {
        background-color:#fff;

        .subject {
          font-weight:500;
//          color:#2374CC;
        }
      }

      &:hover {
        text-decoration:none;
        background-color:#79B9FF;
      }

      &.active {
        background-color:#79B9FF;
      }

      color:#555;

      .from {
        display:inline-block;
        font-size:0.8em;
        line-height:1em;
        width:210px;
      }

      .subject {
        display:inline-block;
        font-size:1em;
        width:400px;
      }

      .date {
        text-align:right;
        display:inline-block;
        width:140px;
        font-size:0.8em;
      }
    }
  }

}


.password-prompt-container {
  display:none;

  .password-prompt {
    width:400px;
    margin-left:auto;
    margin-right:auto;
    margin-top:250px;
    background:#3C5C7F;
    border-radius:3px;

    .prompt-header {
      background-color:#efefef;
      padding:10px;
      text-align:center;

      h2 {
        color:#3C5C7F;
        font-weight:500;
        font-size:1.2em;
      }
    }

    input {
      margin-left:auto;
      margin-right:auto;
      margin-top:20px;
      margin-bottom:20px;
      padding:7px 10px 7px 10px;
      width:70%;
      display:block;
    }

    button {
      display:block;
      width:100%;
      border:0;
      background-color:#79B9FF;
      color:#efefef;
      padding:10px 0px 10px 0px;

      &:hover {
        background-color:#79B9FF;
        cursor:pointer;
      }
    }
  }
}
