/* line 5, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../sass/partials/_forms.scss */
.form-element {
  display: block;
  margin-top: 15px;
}
/* line 5, ../../sass/partials/_forms.scss */
.form-element label {
  display: block;
  margin-bottom: 3px;
}
/* line 10, ../../sass/partials/_forms.scss */
.form-element input {
  display: block;
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  border: 1px solid #0059bb;
  border-radius: 2px;
}

/* line 22, ../../sass/partials/_forms.scss */
.form-section {
  margin-top: 10px;
}
/* line 25, ../../sass/partials/_forms.scss */
.form-section.large {
  margin-top: 20px;
}

/* line 30, ../../sass/partials/_forms.scss */
.form-container {
  margin-top: 20px;
}

/* line 1, ../../sass/partials/_buttons.scss */
.btn {
  border: 0;
  background-color: #79B9FF;
  padding: 10px 20px 10px 20px;
  font-size: 0.9em;
  transition: background-color 0.3s ease-out;
}
/* line 9, ../../sass/partials/_buttons.scss */
.btn.block {
  display: block;
  width: 100%;
}
/* line 16, ../../sass/partials/_buttons.scss */
.btn:hover {
  background-color: #469eff;
  cursor: pointer;
}

/* line 6, ../../sass/global.scss */
body, html {
  background-color: #3C5C7F;
  font-family: "Roboto", sans-serif;
  color: #4c4c4c;
}

/* line 12, ../../sass/global.scss */
h1, h2, h3, h4 {
  font-family: "Roboto Slab", sans-serif;
  color: #2C91FF;
}

/* line 17, ../../sass/global.scss */
h1 {
  font-size: 2em;
}

/* line 20, ../../sass/global.scss */
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.6em;
}

/* line 26, ../../sass/global.scss */
a {
  color: #2374CC;
  text-decoration: none;
}
/* line 30, ../../sass/global.scss */
a:hover {
  text-decoration: underline;
}

/* line 35, ../../sass/global.scss */
.hidden {
  display: none;
}
