<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=title%> | SecureMail</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/global.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700,900" rel="stylesheet">
  </head>
