<% title = "Inbox" %>

<% include partials/header %>

<body>
  <section class="sidebar">
    <div class="title">
      <h1><img src="/static/images/Lock-32.png">SecureMail.</h1>
    </div>
  </section>

  <div class="content-container">
    <section class="topbar">
      <div class="search-input-container">
        <form action="#" method="POST" id="search-form">
          <input class="search-input" id="search-input" placeholder="Search your inbox...">
        </form>
      </div>
    </section>

    <section class="email-list">
      <ul class="emails">
        <li>
          <a class="email unread" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email unread" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email unread" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email unread" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email unread" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
        <li>
          <a class="email" href="#">
            <span class="from">john@johndoe.com</span>
            <span class="subject">Ollie is gay</span>
            <span class="date">3:20PM</span>
          </a>
        </li>
      </ul>
    </section>
  </div>
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/interface.css">

</body>


<% include partials/footer %>
