<% title = "Inbox" %>

<% include partials/header %>

<body>
  <section class="sm-sidebar">
    <div class="sm-title">
      <h1 class="sm-h sm-h1"><img src="/static/images/Lock-32.png">SecureMail.</h1>
    </div>

    <a href="#" class="sm-btn sm-block" id="compose-email-btn">Compose Email</a>

    <ul class="sm-page-list">
      <li><a href="#" class="selected" id="sm-page-inbox">Inbox (<span id="sm-unread-count">0</span>)</a></li>
      <li><a href="#" id="sm-page-sent">Sent</a></li>
      <li><a href="#" id="sm-page-spam">Spam</a></li>
    </ul>

    <h4 class="sm-tag-title">Tags</h4>
    <ul class="sm-page-list tags" id="tag-list">

      <li class="new-tag">
        <form action="#" id="new-tag-form">
          <input id="new-tag" placeholder="Add new tag">
        </form>
      </li>

    </ul>
  </section>

  <div class="sm-content-container sm-content-loader">
    <p>Decrypting keys...</p>
    <img src="/static/images/ring-alt.svg" alt="Decrypting keys.." id="loader_spinner">
  </div>

  <div class="sm-content-container sm-main sm-hidden">
    <section class="sm-topbar">
      <div class="sm-search-input-container">
        <form action="#" method="POST" id="search-form">
          <input class="sm-search-input" id="search-input" placeholder="Search your inbox...">
        </form>
      </div>

      <div class="sm-top-right">
        <a href="/logout">Logout</a>
      </div>
    </section>

    <div class="sm-list-overlay">
    </div>

    <section class="sm-email-list">
      <ul class="sm-emails">
        <h3 class="sm-h sm-h3">No emails found</h3>
      </ul>

      <div class="sm-loadmore">
        <a href="#" class="sm-btn sm-block" id="load-more-btn">Load more..</a>
      </div>
    </section>

    <div class="sm-email-view-container">
      <section class="sm-email-view">
        <div class="sm-email-header">
          <div class="sm-email-details">
            <h2 class="sm-h sm-h2 sm-subject" id="email-view-subject">First email</h2>
            <span class="sm-from" id="email-view-from">m@ttwalton.com</span>
            <span class="sm-date" id="email-view-date">10/12/2015</span>
          </div>
          <div class="sm-email-controls">
            <a href="#" id="email-reply"><img src="/static/images/Reply-32.png" alt="Reply" title="Reply"></a>
            <a href="#" id="email-delete"><img src="/static/images/Mail-Delete-32.png" alt="Delete" title="Delete"></a>
            <a href="#" id="email-tag"><img src="/static/images/Tag-32.png" alt="Tag" title="Tag"></a>

          </div>
        </div>

        <div class="sm-email-tags">
          <h4>Tags</h4>
          <ul>
            <li><input type="checkbox"> Important</li>
            <li><input type="checkbox"> Important</li>
            <li><input type="checkbox"> Important</li>
          </ul>

          <a href="#" id="email-mark-spam" class="sm-btn sm-block">Mark as spam</a>
        </div>

        <div class="sm-email-attachments">

        </div>


        <div class="sm-email-content" id="email-view-content">
          <div id="email-view-content-text">
          </div>
          <iframe id="email-view-content-html">

          </iframe>
        </div>
      </section>
    </div>
  </div>

  <div class="sm-content-container sm-password-prompt-container">
    <div class="sm-password-prompt">
      <div class="sm-prompt-header">
        <h2>Confirm your password</h2>
      </div>

      <form action="#" id="password-prompt-form">
        <input type="password" id="password-prompt">
        <button type="submit">Continue</button>
      </form>

    </div>
  </div>

  <div class="sm-send-container sm-hidden closed">
    <div class="sm-send">
      <form action="/send" method="POST">
        <input placeholder="To" id="send-to" required>
        <input placeholder="Subject" id="send-subject">

        <textarea id="send-body" placeholder="Write your message..."></textarea>

        <button class="sm-btn block" type="submit" id="send-submit">Send</button>
      </form>
    </div>
  </div>


  <link rel="stylesheet" type="text/css" href="/static/stylesheets/interface.css">

  <script src="/static/js/vendor/jquery-3.1.1.min.js"></script>
  <script src="/static/js/vendor/forge.min.js"></script>
  <script src="/static/js/vendor/triplesec.min.js"></script>
  <script src="/static/js/vendor/buffer.js"></script>
  <script src="/static/js/securemail.js"></script>
  <script src="/static/js/mime.securemail.js"></script>
  <script src="/static/js/preprocess.securemail.js"></script>
  <script src="/static/js/inbox.securemail.js"></script>
  <script src="/static/js/crypto.securemail.js"></script>

  <script src="/static/js/pages/inbox.js"></script>
</body>


<% include partials/footer %>
